/*body page*/
body{
	margin: 0;
	outline: 0;
	font-family: "ubuntu", arial, sans-serif;
	background-image: linear-gradient(to top right, #7A0BC0, #FA58B6);
	background-attachment: fixed;
	height: 100vh;
}
/*body page end*/

/*navbar*/
.navbar{
	width: 100%;
    border-bottom: 1px solid white;
    box-shadow: 0px 2px 5px white;
}
.navbar-body{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-left: 5.5rem
}
.navbar-body li{
	float: left;
}
.navbar .hyperlink{
	padding: 1.15rem;
	color: white;
	display: inline-block;
	text-decoration: none;
	font-size: 1.33rem;
}
.hyperlink:hover{
	color: #1A1A40;
	transition-duration: 0.4s;
}
/*navbar end*/

/*Sign Up*/
.container{
	display: flex;
	justify-content: center;	         
	position: relative;
	top: 20%;
	bottom: 25%; 
}
.form{
	display: block;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	box-shadow: 2px 2px 10px 3px white, -2px -2px 10px 3px white; 
	width: 19rem;
	text-align: center;
}
.form .input-box, .option{
	margin-bottom: 1.08rem;
}
.form .input-box{
	border: none;
	border-bottom: 2px solid white;
	font-family: inherit;
	color: white;
	width: 60%;
	outline: 0;
	background-color: transparent;
	height: 1rem;
	margin-top: 6px;
}
.form .input-box:hover{
	border-bottom-color: #1A1A40;
	transition-duration: 0.3s;
}
.form label:hover{
	color: #1A1A40;
	transition-duration: 0.3s;
}
.form .input-box:focus{
	outline: 0;
}
/*Form Sign up end*/ 

/*CTA*/
.cta{
	background-color: inherit;
	border: 2px solid white;
	border-radius: 20px;
	width: 60%;
	color: white;
	padding: 0.5rem;
}
.cta:hover{
	background-color: white;
	color: #1A1A40;
	transition-duration: 0.6s;
}
/*CTA end*/
/*Option*/
.option, a{
	text-decoration: none;
	color: white;
	font-size: 0.9rem;
	color: white;
}
.option{
	margin-top: 25px;
}
.option a:hover{
	color: #1A1A40;
	transition-duration: 0.4s;
}
/*option end*/